body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
}

h1 {
    color: #5a5a5a;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.card {
    margin-bottom: 90px;
}
