.pagina-principal {
    font-family: Arial, sans-serif;
}

body {
    background-color: #ede9c6; 
}

header {
    background-color: #f8f8f8;
}

h1 {
    color: #5a5a5a;
}

h3 {
    font-family: cursive;
    color:lightsalmon
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.card {
    margin-bottom: 90px;
}
